
.spots-list-wrapper {
    margin: 100px 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    padding: 0;
  }

.spot-list-link {
  text-decoration: none;
  color: black;
}

.spot-list-card {
    width: 300px;
    height: 300px;
    margin: 36px 13px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr;
    align-items: end;
    box-sizing: border-box;
    padding: 0
  }

.spot-list-image-div {
    padding: 0;
    width: 100%;
    height: 260px;
    margin-bottom: 20px;
}

.spot-list-image {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 260px;
    border-radius: 16px;

  }


.spot-list-location {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.spot-list-price {
  letter-spacing: .5px;
  display: inline;
  font-family: 'Montserrat', sans-serif;
}

.spot-list-info-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}